.box1{
    padding: 25px 25px;
    background-color: purple;
    border:2px solid white;
    border-radius: 100px;
    cursor: pointer;
}
.box2{
    padding: 25px 25px;
    background-color: blue;
    border:2px solid white;
    border-radius: 100px;
    margin-left: 3px;
    cursor: pointer;
}
.box3{
    padding: 25px 25px;
    background-color: green;
    border:2px solid white;
    border-radius: 100px;
    margin-left: 3px;
    margin-right: 6px;
    cursor: pointer;
}